.mainAbout
{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.about
{
    background-color: RGB(255, 255, 255, 0.6);
}
.aboutImg
{
    width: 100%;
    height: 80vh;
}
.aboutImg img
{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.aboutData
{
    padding: 3rem;
}
.aboutData h1
{
    padding-top: 3rem;
}

